@model VisitorCommentsApp.Models.Visitor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Visitor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone1" class="control-label"></label>
                <input asp-for="Phone1" class="form-control" />
                <span asp-validation-for="Phone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone2" class="control-label"></label>
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.RadioButtonFor(model => model.Rating, "1", new { id = "rating-1" }) <label for="rating-1">1</label>
                    @Html.RadioButtonFor(model => model.Rating, "2", new { id = "rating-2" }) <label for="rating-2">2</label>
                    @Html.RadioButtonFor(model => model.Rating, "3", new { id = "rating-3" }) <label for="rating-3">3</label>
                    @Html.RadioButtonFor(model => model.Rating, "4", new { id = "rating-4" }) <label for="rating-4">4</label>
                    @Html.RadioButtonFor(model => model.Rating, "5", new { id = "rating-5" }) <label for="rating-5">5</label>
                    @Html.RadioButtonFor(model => model.Rating, "6", new { id = "rating-6" }) <label for="rating-6">6</label>
                    @Html.RadioButtonFor(model => model.Rating, "7", new { id = "rating-7" }) <label for="rating-7">7</label>
                    @Html.RadioButtonFor(model => model.Rating, "8", new { id = "rating-8" }) <label for="rating-8">8</label>
                    @Html.RadioButtonFor(model => model.Rating, "9", new { id = "rating-9" }) <label for="rating-9">9</label>
                    @Html.RadioButtonFor(model => model.Rating, "10", new { id = "rating-10" }) <label for="rating-10">10</label>
                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
